
  body {
    color: white;
    background-color: black; 
    padding: 1%;
  }

 div#redes{
  position:relative;
  left: 90%;
  top:10px;
 
}

 div#navbarNav{
  position:relative;
  left: 50%;
  font-family: 'Play', sans-serif;
 }

 a#imagen{
  position:relative;
  left: 30%; 
 }

 div#inicio{
  font-family: 'Play', sans-serif;
 }
.centrado{
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif; 
}
.abajo{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(50%, 50%);
  font-family: 'Open Sans', sans-serif;
}

h1#letra{

  font-family: 'Play', sans-serif;
  color: rgb(53, 185, 247);

}
.text-muted{
  font-family: 'Coiny', cursive;
}

form#letra{

  font-family: 'Play', sans-serif;
  color: rgb(1, 8, 12);

}
div#video{
  left: -5%;
}
button#boton {
  position: center;
  background: #EC407A;
  font-size: 200%;
  width: 100%;
  border: 0;
}
h1#aumento{
  
  position: center;
}
 h5{
    background-color: #fff;
    color: black;
    
    
  }

div#derecha{
  position:relative;
  top:10px;


}
div#izquierda{
  position:relative;
  top:10px;

}
p#pie{
  position:relative;
  top:10px;

}
div#centro{
  position:relative;
  top:10px;

}
a#render{
  position:relative;
  top:10px;

}
footer{
  font-family: 'Play', sans-serif;
}
